@page "/article/{uri}"
@using GrpcItems
@inject Items.ItemsClient ItemsClient

<h1>@_article.Title</h1>

<a href="@Uri" target="_blank">Source</a>

<p style="white-space: pre-line">@_article.Content</p>

@code {
    [Parameter]
    public string Uri { get; set; }

    private GrpcItems.Article _article = new GrpcItems.Article();

    protected override async Task OnInitializedAsync()
    {
        _article = await ItemsClient.GetFullContentAsync(new ArticleSource { Uri = System.Web.HttpUtility.UrlDecode(this.Uri) });
    }
}
