@page "/"
@using GrpcItems
@inject Items.ItemsClient ItemsClient

<h1>Items</h1>

@foreach (var item in _items)
{
    <a href="@item.Link">@item.Title</a>
}

@code {
    private List<Item> _items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        var request = new Request { Name = "" };
        _items = (await ItemsClient.GetItemsAsync(request)).Items.ToList();
    }
}
