@page "/"
@using GrpcItems
@inject Items.ItemsClient ItemsClient

<h1>Items</h1>

<ul>
    @foreach (var item in _items)
    {
        <li>
            <a href="/article/@EncodedUri(item.Link)">@item.Title</a>
            <p>@item.PublishDate</p>
            <p>@item.Author</p>
            <p>@item.Content</p>
        </li>
    }
</ul>

@code {
    private List<Item> _items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        _items = (await ItemsClient.GetItemsAsync(new Google.Protobuf.WellKnownTypes.Empty())).Items.ToList();
    }

    private string EncodedUri(string uri)
    {
        return System.Web.HttpUtility.UrlEncode(uri);
    }
}
