@page "/"
@using GrpcItems
@inject Items.ItemsClient ItemsClient

<h1>Items</h1>

<ul>
    @foreach (var item in _items)
    {
        <li><a href="@item.Link">@item.Title</a></li>
    }
</ul>

@code {
    private List<Item> _items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        var request = new Request { Name = "" };
        _items = (await ItemsClient.GetItemsAsync(request)).Items.ToList();
    }
}
